<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Site Metas -->
        <title>Online shop</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Site Icons -->
        <link rel="shortcut icon" href="/shop/images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/shop/images/apple-touch-icon.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/shop/css/bootstrap.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="/shop/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/shop/css/responsive.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/shop/css/custom.css">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
</th:block>
