<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{cms/layout/head :: head}"></div>
<body>

<div th:replace="~{cms/layout/navigation :: navigation}"></div>

<main class="container">
    <div class="starter-template py-5 px-3">
        <h1 class="main-heading">Update category</h1>
        <form method="post"
              th:object="${categoryForUpdate}">
            <div class="form-group">
                <label for="id">ID</label>
                <input readonly type="number" th:field="*{id}" class="form-control" id="id" placeholder="id" value="1"/>
            </div>
            <div class="form-group">
                <label for="categoryName">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="categoryName" placeholder="name">
            </div>
            <div class="form-group">
                <label for="imageUri">Image URI</label>
                <input type="text" th:field="*{imageUri}" class="form-control" id="imageUri" placeholder="Image URI">
            </div>
            <button type="submit" class="btn btn-primary category-create-btn">Save</button>
            <a class="btn btn-secondary" href="/admin/categories" role="button">Cancel</a>
        </form>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>