<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<div th:replace="~{shop/layout/head :: head}"></div>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{shop/layout/navigation :: navigation}"></div>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{shop/layout/topsearch :: topsearch}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <tbody>
                                    <td style="text-align: center;" colspan="6"> Hi, I see you have been here before. It's nice to see you again, start choosing products :) </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <img src="trolleywithgifts.jpg"></tr>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <a href="/products"><input type="submit" class="button_active" value="Back to products"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

    <!-- Start Footer  -->
    <div th:replace="~{shop/layout/footer :: footer}"></div>
    <!-- End Footer  -->

    <!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>
</body>

</html>