<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<div th:replace="~{shop/layout/head :: head}"></div>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{shop/layout/navigation :: navigation}"></div>
    <!-- End Main Top -->

<!--Ritvars ir noņēmis šo-->
    <!-- Start Top Search -->
    <div th:replace="~{shop/layout/topsearch :: topsearch}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>CART</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                        <li class="breadcrumb-item active">CART</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
<!--produktu saraksts-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
<!--tabulas visraksta rinda -->
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
<!--Ritvars noņēmis remove-->
                                    <th>Remove</th>
                                </tr>
                            </thead>
<!--tabulā produktu saraksts-->
                            <tbody>
                                <tr th:each="product: ${products}" >
                                    <td class="thumbnail-img">
                                        <a th:href="@{/products/{product}(product=${product.id})}">
									<img th:src="${product.imageUri}" class="img-fluid" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a th:href="@{/products/{product}(product=${product.id})}">
                                            <p th:text="${product.name}"></p>
								</a>
                                    </td>
                                    <td class="price-pr">
                                            <p th:text="${product.price}"></p>
                                    </td>
<!--Ritvara-->
<!--                                    <td class="quantity-box">-->
<!--                                        1-->
<!--                                    </td>-->
<!--Ritvara-->
                                    <td class="quantity-pr">
                                        <p th:text="${product.quantity}">quantity</p>
                                    </td>
<!--                                    <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>-->
                                    <td class="total-pr">
                                        <p th:text="${product.total}">total</p>

                                    </td>
<!--Ritvars noņēma remove-->
                                    <td class="remove-pr">
<!--                                        <a th:href="@{/cart/{orderId}/delete/{id}(orderId= ${order.id}, id=${product.id})}">-->
<!--                                            <p> remove </p>-->
<!--                                        </a>-->
<!--                                        <a href="#">-->
<!--                                        <a th:href="@{/cart/{orderId}/delete/{id}(orderId= ${order.id}, id=${product.id})}">-->
<!-- pielieku vēl klases klāt, bet tāpat nestrādā podziņa <i class="icon btn fas fa-times"></i>-->
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
<!--coupon un update cart-->
            <div class="row my-5">

<!--coupon-->
                <div class="col-lg-6 col-sm-6">
<!--                    <div class="coupon-box">-->
<!--                        <div class="input-group input-group-sm">-->
<!--                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">-->
<!--                            <div class="input-group-append">-->
<!--                                <button class="btn btn-theme" type="button">Apply Coupon</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
<!--update cart-->
                <div class="col-lg-6 col-sm-6">
<!--                    <div class="update-box">-->
<!--                        <input value="Update Cart" type="submit">-->
<!--                    </div>-->
                </div>
            </div>
<!--order summary-->
<!--            <div class="row my-5">-->
            <div class="row my-5" style="margin-top: 0 !important;">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Products in cart</h4>
                            <div th:text="${#aggregates.sum(products.![quantity])}" class="ml-auto font-weight-bold"></div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div th:text="${#aggregates.sum(products.![total])}" class="ml-auto h5"></div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="/checkout" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

    <!-- Start Footer  -->
    <div th:replace="~{shop/layout/footer :: footer}"></div>
    <!-- End Footer  -->

    <!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>
</body>

</html>