<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<div th:replace="~{shop/layout/head :: head}"></div>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{shop/layout/navigation :: navigation}"></div>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{shop/layout/topsearch :: topsearch}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>CART</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                        <li class="breadcrumb-item active">CART</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div th:if="${isSuccess}" class="row alert alert-success">
                <strong>Ok!</strong>&nbsp;<span>Quantity updated!</span>
            </div>
            <div th:if="${isError1}" class="row alert alert-danger">
                <strong>Sorry could not set product quantity!</strong>&nbsp;<span>Please specify quantity by integer!</span>
            </div>
            <div th:if="${isError3}" class="row alert alert-danger">
                <strong>Can't add products more than available!</strong>&nbsp;<span
                    th:text="'Maximum available quantity of ' + ${productName} + ' is ' + ${productStock} + '! '"></span>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th></th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product: ${products}" >
                                    <td class="thumbnail-img">
                                        <a th:href="@{/product/{product}(product=${product.id})}">
									<img th:src="${product.imageUri}" class="img-fluid" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a th:href="@{/product/{product}(product=${product.id})}">
                                            <p th:text="${product.name}"></p>
								</a>
                                    </td>
                                    <td class="price-pr">
                                            <p th:text="${product.price} + ' €'"></p>
                                    </td>
                                    <form action="#"
                                          th:action="@{/cart/update/{productId}(productId=${product.id})}"
                                          method="post">
                                        <td class="quantity-pr">
                                            <input type="hidden" th:value="${product.id}" name="productId"/>
                                            <input
                                                    class="form-control" type="number" min="1" max="20"
                                                    th:value="${product.quantity}" name="quantity" required/>
                                        <td class="asd">
                                            <button value="update" type="submit" >Update</button>
                                        </td>
                                        </td>
                                    </form>
                                    <td class="total-pr">
                                        <p th:text="${product.total} + ' €'">total</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a th:href="@{/cart/delete/{productId}(productId=${product.id})}">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                </div>
                <div class="col-lg-6 col-sm-6">
                </div>
            </div>
            <div class="row my-5" style="margin-top: 0 !important;">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Products in cart</h4>
                            <div th:text="${#aggregates.sum(products.![quantity])}" class="ml-auto font-weight-bold"></div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div th:text="${#aggregates.sum(products.![total])} + ' €'" class="ml-auto h5"></div>
                        </div>
                        <hr> </div>
                    </div>
                <div class="col-12 d-flex shopping-box"><a href="/checkout" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

    <!-- Start Footer  -->
    <div th:replace="~{shop/layout/footer :: footer}"></div>
    <!-- End Footer  -->

    <!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>
</body>

</html>