<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<div th:replace="~{shop/layout/head :: head}"></div>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{shop/layout/navigation :: navigation}"></div>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{shop/layout/topsearch :: topsearch}"></div>
    <!-- End Top Search -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div th:each="category: ${allCategories}" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" th:src="${category.imageUri}" alt="" height="100" width=""/>
                        <a th:href="@{/categories/{category}(category=${category.id})}" class="btn hvr-hover" th:text="${category.name}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
<!--    <div class="products-box">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="title-all text-center">-->
<!--                        <h1>Featured Products</h1>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="special-menu text-center">-->
<!--                        <div class="button-group filter-button-group">-->
<!--                            <button class="active" data-filter="*">All</button>-->
<!--                            <button data-filter=".top-featured">Top featured</button>-->
<!--                            <button data-filter=".best-seller">Best seller</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row special-list">-->
<!--                <div class="col-lg-3 col-md-6 special-grid best-seller">-->
<!--                    <div class="products-single fix">-->
<!--                        <div class="box-img-hover">-->
<!--                            <div class="type-lb">-->
<!--                                <p class="sale">Sale</p>-->
<!--                            </div>-->
<!--                            <img src="/shop/images/" class="img-fluid" alt="Image">-->
<!--                            <div class="mask-icon">-->
<!--                                <ul>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>-->
<!--                                </ul>-->
<!--                                <a class="cart" href="#">Add to Cart</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="why-text">-->
<!--                            <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                            <h5> $7.79</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-3 col-md-6 special-grid top-featured">-->
<!--                    <div class="products-single fix">-->
<!--                        <div class="box-img-hover">-->
<!--                            <div class="type-lb">-->
<!--                                <p class="new">New</p>-->
<!--                            </div>-->
<!--                            <img src="/shop/images/" class="img-fluid" alt="Image">-->
<!--                            <div class="mask-icon">-->
<!--                                <ul>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>-->
<!--                                </ul>-->
<!--                                <a class="cart" href="#">Add to Cart</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="why-text">-->
<!--                            <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                            <h5> $9.79</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-3 col-md-6 special-grid top-featured">-->
<!--                    <div class="products-single fix">-->
<!--                        <div class="box-img-hover">-->
<!--                            <div class="type-lb">-->
<!--                                <p class="sale">Sale</p>-->
<!--                            </div>-->
<!--                            <img src="/shop/images/" class="img-fluid" alt="Image">-->
<!--                            <div class="mask-icon">-->
<!--                                <ul>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>-->
<!--                                </ul>-->
<!--                                <a class="cart" href="#">Add to Cart</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="why-text">-->
<!--                            <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                            <h5> $10.79</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-3 col-md-6 special-grid best-seller">-->
<!--                    <div class="products-single fix">-->
<!--                        <div class="box-img-hover">-->
<!--                            <div class="type-lb">-->
<!--                                <p class="sale">Sale</p>-->
<!--                            </div>-->
<!--                            <img src="/shop/images/" class="img-fluid" alt="Image">-->
<!--                            <div class="mask-icon">-->
<!--                                <ul>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>-->
<!--                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>-->
<!--                                </ul>-->
<!--                                <a class="cart" href="#">Add to Cart</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="why-text">-->
<!--                            <h4>Lorem ipsum dolor sit amet</h4>-->
<!--                            <h5> $15.79</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- End Products  -->

    <!-- Start Footer  -->
    <div th:replace="~{shop/layout/footer :: footer}"></div>
    <!-- End Footer  -->

    <!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>
</body>

</html>