<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<div th:replace="~{shop/layout/head :: head}"></div>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{shop/layout/navigation :: navigation}"></div>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{shop/layout/topsearch :: topsearch}"></div>
    <!-- End Top Search -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div th:each="category: ${allCategories}" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" th:src="${category.imageUri}" alt="" height="100" width=""/>
                        <a th:href="@{/categories/{category}(category=${category.id})}" class="btn hvr-hover" th:text="${category.name}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- End Products  -->

    <!-- Start Footer  -->
    <div th:replace="~{shop/layout/footer :: footer}"></div>
    <!-- End Footer  -->

    <!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>
</body>

</html>