<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{shop/layout/head :: head}"></div>

<body>

<div th:replace="~{shop/layout/navigation :: navigation}"></div>

<div th:replace="~{shop/layout/topsearch :: topsearch}"></div>

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>PRODUCT DETAILS</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/products">Products</a></li>
                    <li class="breadcrumb-item active">PRODUCT DETAILS</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="shop-detail-box-main">
    <div class="container">
        <div th:if="${isSuccess}" class="row alert alert-success">
            <strong>Success!</strong>&nbsp;<span>Product was added to cart!</span>
        </div>
        <div th:if="${isError1}" class="row alert alert-danger">
            <strong>Sorry could not add product to cart!</strong>&nbsp;<span>Please specify quantity!</span>
        </div>
        <div th:if="${isError2}" class="row alert alert-danger">
            <strong>Sorry could not add product to cart!</strong>&nbsp;<span>Please check how many items
                of this product was already added to cart and totally add no more items than available!</span>
        </div>
        <div th:if="${isError3}" class="row alert alert-danger">
            <strong>Sorry could not add product to
                cart!</strong>&nbsp;<span>Please add no more items than available!</span>
        </div>
        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-6">
                <img th:src="${product.imageUri}" class="image" alt="Image" height="" width="300"/>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2 th:text="${product.name}"></h2>

                    <h5 th:text="${product.price} + ' €'"></h5>
                    <p th:text="${product.stock} + ' available'" class="available-stock">
                    <p>
                    <h4>Short Description:</h4>
                    <p th:text="${product.description}"></p>
                    <form th:object="${productForm}"
                          method="post">
                        <ul>
                            <li>
                                <div class="form-group quantity-box">
                                    <label class="control-label">Quantity</label>
                                    <input th:field="${productForm.quantity}"
                                           th:value="${productForm.quantity}"
                                           class="form-control" min="1" type="number">
                                </div>
                            </li>
                        </ul>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <button type="submit" class="btn hvr-hover" data-fancybox-close="">Add to cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{shop/layout/footer :: footer}"></div>

<div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>

</body>

</html>