<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<div th:replace="~{shop/layout/head :: head}"></div>

<body>
<!-- Start Main Top -->
<div th:replace="~{shop/layout/navigation :: navigation}"></div>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{shop/layout/topsearch :: topsearch}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>PRODUCTS</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item active">PRODUCTS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <!--visa sadaļa vienā rindā-->
        <div class="row">
            <!--kreisā kolonna-->
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form th:action="@{/search-result}">
                            <input required type="text" class="form-control" placeholder="Search here..." name="search">
                            <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3><a href="/categories">Categories</a></h3>
                        </div>
                        <div class="list-group">
                            <ul>
                                <li th:each="category: ${allCategories}"> <a th:href="@{/categories/{category}(category=${category.id})}"
                                                                             th:text="${category.name}">
                                </a> </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                            </div>
                            <div th:text="'Showing all ' + ${#lists.size(products)} + ' results'" style="text-align: center;" class="ml-auto font-weight-bold"></div>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    <div th:each="product: ${products}" class="col-sm-6 col-md-6 col-lg-4 col-xl-4" >
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="new">New</p>
                                                </div>
                                                <img th:src="${product.imageUri}" class="image" alt="Image" height="100" width="" />

                                                <div class="mask-icon">
                                                    <a class="cart" th:href="@{/product/{product}(product=${product.id})}">View product</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <h4 th:text="${product.name}"></h4>
                                                <hr>
                                                <h5 th:text="${product.price}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    <div th:each="product: ${products}" class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">New</p>
                                                    </div>
                                                    <img th:src="${product.imageUri}" class="image" alt="Image" height="100" width="" />
                                                    <div class="mask-icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4 th:text="${product.name}"></h4>
                                                <h5 th:text="${product.price}"></h5>
                                                <p th:text="${product.description}"></p>
                                                <a class="btn hvr-hover" th:href="@{/product/{product}(product=${product.id})}">View product</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->

<!-- Start Footer  -->
<div th:replace="~{shop/layout/footer :: footer}"></div>
<!-- End Footer  -->

<!-- ALL JS FILES -->
<!-- ALL PLUGINS -->
<div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>

</body>

</html>