<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<div th:replace="~{shop/layout/head :: head}"></div>

<body>
<!-- Start Main Top -->
<div th:replace="~{shop/layout/navigation :: navigation}"></div>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{shop/layout/topsearch :: topsearch}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SEARCH RESULTS </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item active">SEARCH RESULTS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Search Page -->
<div class="services-box-main">
    <div class="container">
        <div class="row">
            <div class="service-block-inner">
                <h2>Search results for '<span th:text="${query}"></span>' :</h2>
            </div>
        </div>
        <div class="row">
            <div class="service-block-inner">
                <div th:if="${#lists.isEmpty(searchResults)}">
                    <h2>No products found!</h2>
                </div>
                <div th:unless="${#lists.isEmpty(searchResults)}">
                    <h2 style="text-align:center;"> found in products naming:</h2>
                    <div th:insert="shop/layout/product-table :: product-table(${searchResults})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Search Page -->

<!-- Start Footer  -->
<div th:replace="~{shop/layout/footer :: footer}"></div>
<!-- End Footer  -->

<!-- ALL JS FILES -->
<!-- ALL PLUGINS -->
<div th:replace="~{shop/layout/stylefiles :: stylefiles}"></div>

</body>
</html>